<head>
  <title>All</title>
  <link rel="stylesheet" type="text/css" href="Lit.css">
  
  
</head>
<body>
  <h1 id="title">Infinity Exchange</h1>

<ul class="card">
  <li>
  <% @bikes.each do |bike| %>
     <a class="title" href="todo/show/<%= bike.id %>"><%= bike.title %></a> 

    <!--<input type="checkbox" name=""/>-->
    <span class="price">$<%= bike.price %></span>
    <img class="dog" src="<%= bike.image %>">
    <% end %>
  </li>

</ul>


<div id="new-todo-block">
<a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add A New Article</a>
</div>
</body>
