<head>
  
  <link rel="stylesheet" type="text/css" href="Lit3.css">
  
</head>
<body>
  <div class="card">
<h2 href="https://preview.c9users.io/ap0ca1yp53/final/index.html?_c9_id=livepreview0&_c9_host=https://ide.c9.io"> Add A New Article</h2>

<form action="/todo/create">
  <input class="text-input" id="new-bike-title" name="title" type="text" placeholder="Title">
  <br>
  <br>
  <input class="text-input" id="new-todo-images" name="image" type="text" placeholder="Link To Picture">
  <br>
  <br>
  <input class="text-input" id="new-price" name="price" type="number" placeholder="Price">
  <br>
  <br>
  <input class="text-input" id="new-description" name="description" type="text" placeholder="Description of Article"><br>
  <input class="button" id="add-new-todo-button" type="submit" value="Add Article">
</form>

</div>

</body>